body {
}
.div {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  font-weight: 700;
  font-size: 7rem;
  text-shadow: 0.025em 0.025em 0 yellow, 0.05em 0.05em 0 blue,
    0.075em 0.075em 0 red, 0.1em 0.1em 0 black;
  color: coral;
}

.publicimage {
  width: 20rem;
  height: 15rem;
}
.srcimage {
  width: 20rem;
  height: 30rem;
}
